/*Fractions*/
.fraction {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.2em 0.4ex;
  text-align: center;
}

.fraction > span {
  display: block;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}

.fraction > span:empty {
  border-style: dashed;
  border-color: blue;
}

.fraction span.denominator {
  border-top: thin solid black;
}

.fraction span.denominator:empty {
  border-style: dashed;
  border-color: blue;
}
/*Intellisense icon*/
.fraction-icon {
  font-size: 0.75em;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em 0.4ex;
  text-align: center;
}

.fraction-icon > span {
  display: block;
}

.fraction-icon span.denominator-icon {
  border-top: thin solid black;
}

/*End of Fractions*/
