/*summations*/
.summation {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.summation > span {
  display: block;
  font-size: 70%;
}

.summation .top-limit {
  margin-bottom: -0.1ex;
}

.summation .bottom-limit {
  margin-top: -0.5ex;
}

.summation .sum-symbol {
  font-size: 1.5em;
  font-weight: lighter;
}

.summation .sum-symbol-ico {
  font-size: 1em;
  font-weight: lighter;
}

.summation .top-limit-ico {
  margin-bottom: -0.3ex;
}

.summation .bottom-limit-ico {
  margin-top: -0.3ex;
}

/*End of summations*/
