.inline { 
    display: inline-table;     
}

.inline2 { 
    flex-basis: 5%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;  
    grid-gap: 10px;
    vertical-align: bottom;
    justify-content: center;
    row-gap: 2px;    
}

.inline3 { 
    display: inline-table;
}
